@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('./test.css');
@import url('./footer.css');
@import url('./navigation.css');

.nav-bar {
    margin-top: 100px;
}

.nav-link {
    height: 24px;
    width: 119px;
    color: #333;
    font-family: Apercu;
    font-size: 22px;
    line-height: 24px;
    
  }

.navbar-light .navbar-nav .nav-item .nav-link.active{
    height: 24px;
    width: 119px;
    font-family: Apercu;
    font-size: 22px;
    line-height: 22px;
    color: #F7A590!important;
}

.shoping, .user, .search{
    margin-right: 10px;
    text-decoration: none;
    margin-right: 30px;
}

footer {
    height: 100%;
    padding: 20px;
    color: black;
    text-align: center;
    font-weight: bold;
}


.mainproduct {
    width: 100%;
    height: 100%;
    background-color: #EEEBEB;
    color: #FF957A;
    height: 500px;
    text-align: center;
    font-weight: bold;
    
}

.product {
    width: 50%;
    height: 500px;
    float: right;
}

.welcome {
  color: #FF957A;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 3.01px;
  line-height: 50px;
}

.desc {
    size: 30px;
    color: #4F4F4F;
    margin-top: 30px;
}

.judul {
    padding: 140px 0px 140px 140px;
    float: left;
    font-family: Poppins;
}

.button {
    border-radius: 173px;
    background-color: #F35923;
    height: 39px;
    width: 200px;
    padding: 5px 0px;
}

.learn_more {
    height: 28px;
    width: 144px;
    color: #FFF;
    font-family: Apercu;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
}

.medsos {
    background-color: #9BC4C8;
    height: 150px;
    width: 100%;
    padding: 50px 50px 50px 100px;
    align-items: center;
}

.twitter, .instagram, .youtube {
    display: flex; 
    align-items: center; 
    margin-right: 50px;
}

.toTwitter, .toInstagram, .toYoutube {
    color: white;
    text-decoration: none;
}

.toTwitter:hover, .toInstagram:hover, .toYoutube:hover, .learn_more:hover {
    color: gray;
}

.txtTwitter, .txtInstagram, .txtYoutube {
    margin-top: 15px;
}

.service {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.money-back, .customer-support {
    height: 30px;
    width: 279px;
    color: #000;
    font-family: Satoshi;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
}

.delivery {
    height: 30px;
    width: 279px;
    color: #000;
    font-family: Satoshi;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-top: 40px;
}

.judul-product {
    height: 300px;
    width: 100%;
    color: #F7A590;
    font-family: Poppins;
    padding-top: 100px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.51px;
    line-height: 56px;
    text-align: center;
}

.sub-judul-product {
    font-family: Satoshi;;
    color: silver;
}

.profile {
  height: 112px;
  width: 100%;
  color: #F7A590;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;  
  text-align: center;
  padding-top: 50px;
}

.kutip {
    height: 200px;
    width: 100%;
    font-size: 100px;
}

.foto {
  height: 240px;
  width: 100%;
  color: #F7A590;
  font-family: Apercu;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.product-preview {
    margin-top: -80px;
}


.card {
    border: none;
}
.col {
    margin: 0px 30px;
}

.product-display {
    height: 40%;
}

.detail-prodcut {
    margin: 100px 20px;
}

.nama-product {
    height: 42px;
    width: 201px;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
}

.harga {
    height: 42px;
    width: 150px;
    color: #F7A590;
    font-family: Poppins;
    font-size: 14px;
    margin-right: 20px;
    margin-top: -20px;
}

@media (max-width: 767px) {
    .carousel-inner.catalog .carousel-item.catalog > div {
        display: none;
    }
    .carousel-inner.catalog .carousel-item.catalog > div:first-child {
        display: block;
    }
}

.carousel-inner.catalog .carousel-item.active.catalog,
.carousel-inner.catalog .carousel-item-next.catalog,
.carousel-inner.catalog .carousel-item-prev.catalog {
    display: flex;
}

@media (min-width: 768px) {
    
    .carousel-inner.catalog .carousel-item-end.active,
    .carousel-inner.catalog .carousel-item-next {
    transform: translateX(25%);
    }
    
    .carousel-inner.catalog .carousel-item-start.active, 
    .carousel-inner.catalog .carousel-item-prev {
    transform: translateX(-25%);
    }
}

.carousel-inner.catalog .carousel-item-end.catalog,
.carousel-inner.catalog .carousel-item-start.catalog { 
    transform: translateX(0);
}


.carousel-control-next-icon {
    margin-top: -20px;
    margin-left: 40px;
    height: 66px;
    width: 96px;
    background-size: 40%, 40%;
    background-color: #F7A590;
}

.carousel-control-prev-icon {
    margin-top: -20px;
    margin-right: 40px;
    height: 66px;
    width: 96px;
    background-size: 40%, 40%;
    background-color: #F7A590;
}

.discount {
    width: 95%;
    height: 180px;
    background-image: url('../img/discount.png');
    text-align: left;
    color:white;
    padding-top: 20px;
    padding-left: 50px;
    font-family: poppins;
    border: 2px solid white;
    border-style: double;
    border-width: 13px;
    justify-content: center;
    margin-left: 30px;
    margin-bottom: 20px;
}

.btnfirst {
    text-decoration: none;
    text-align: center;
    color: #FFF;
    font-weight: 100;
    border: 3px solid white;
}

.btnsecond {
    text-decoration: none;
    text-align: center;
    color: #828282;
    font-weight: 100;
    border: 3px solid #828282;
}

.bestseller {
    height: 850px;
    width: 100%;
}

.best {
    display: flex;
    margin: 0px 30px;
    justify-content: space-around;
    padding-top: 0px;
}
.best1 {
    width: 300px;
    height: 350px;
}

.subscribe {
    width: 100%;
    height: 600px;
    background-image: url('../img/subscribe.png');
    border: 2px solid white;
    border-style: double;
    border-width: 13px;
    color: white;
    font-family: poppins;
    padding-top: 150px;
    text-align: center;
}

.subscribe .form-subscribe input[type=text] {
    width: 800px;
    height: 50px;
    border: none;
}

.bordersubscribe {
    border: solid 1px white;
}

.box {
    width: 700px;
    height: 50px;
    background-color: white;
    margin-left: 310px;
}

.carousel .carousel-indicators .indicator {
    height: 33px;
    width: 33px;
    background-color: #fff;
    background-color: #999999;
  }
  
  .carousel .carousel-indicators .active {
    height: 33px;
    width: 33px;
    background-color: #F7A590;
  }
.data-product .data-product-slide .carousel-indicators li.active {
  background: yellow;
}

.data-product .carousel-inner {
    width: 95%;
    margin-left: 35px;
}

.data-product .data-product-img {
    float: left;
    width: 500px;
}

.data-product .data-product-detail {
    width: 50%;
    float: right;
    padding-right: 200px;
}

.data-product .data-product-detail-judul {
    height: 70px;
    color: #000;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.88px;
    line-height: 70px;
}

.data-product .data-product-detail-judul .data-product-sale {
    height: 50px;
    width: 173px;
    background-color: #F7A590;  
    color: #FFF;
    font-family: Poppins;
    font-size: 36px;
    letter-spacing: 1.36px;
    line-height: 50px;
    text-align: center;
}

.data-product .data-product-detail .data-product-description {
    margin-top: 50px;
    height: 198px;
    width: 500px;
    color: #333;
    font-family: Poppins;
    font-size: 18px;
    line-height: 38px;
}

.data-product .data-product-detail .data-product-harga {
    height: 42px;
    width: 150px;
    color: #F7A590;
    font-family: Poppins;
    font-size: 25px;
    margin-top: 100px;
}

.customer1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    height: 200px;
}

.nama1 {
    padding-top: 10px;
    font-family: poppins;
    font-size: 20px;
    color: #F7A590;
    text-align: center;
}

.komentar {
    font-size: 30px;
    text-align: center;
    font-style: oblique;
    margin-top: -80px;
    margin-bottom: 50px;

}

.koma {
    font-family: 'Alex Brush';
    font-size: 200px;
    color: #F7A590;
    text-align: center;
}

.getintouch {
    width: 100%;
    text-align: center;
    font-family: poppins;
}

.judulgetin {
    font-size: 30px;
    color: #F7A590;
}

.desc {
    font-size: 15px;
}

.yasa-contact {
    background-color: white;
    /*background-color: #F2F2F2;*/
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    padding-bottom: 50px;
}

.card.alamat, .card.call, .card.email {
    background-color: #F2F2F2;
    width: 28%;
    height: 250px;
}

.yasa-contact-img-preview {
    margin: 80px 140px;
    width: 60px;
    height: 60px;
}

.yasa-contact-text {
    color: #000;
    font-family: Satoshi;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margin-top: -60px;
}

.yasa-contact-text h5 {
    font-weight: bold;
}

.card.sendus {
    width: 98%;
    box-shadow: 4px 4px 8px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px 300px;
    margin-top: 20px;
    margin-left: 15px;
}

.card.sendus label.form-title {
    margin: 20px 0px;
}

.card.sendus input[type=text]{
    height: 60px;
    background-color: #F2F2F2;
    border: none;
}

.card.sendus input[type=text].empty {
    height: 150px;
}

.judulsend {
    color: #F7A590;
}

.buttonsend {
    background-color: #F35923;
    height: 39px;
    width: 200px;
    margin-top: 30px;
}

.card-title-shop {
    height: 42px;
    width: 201px;
    color: rgb(87, 87, 87);
    font-family: Poppins;
    font-size: 20px;
    text-align: center;
}

.card-text-shop {
    text-align: center;
    color: #F7A590;
    font-size: 15px;
    height: 42px;
    width: 150px;
    font-family: Poppins;
    padding-left: 50px;
}

.cardshop {
    width: 75%;
    float: right;
    padding-top: 30px;

}

.sidebard {
    float: left;
    width: 20%;
    text-align: center;
    padding-left: 50px;
}

.sidebard img {
    width: 200px;
}

.newproduct {
    color: #F7A590;
    font-size: 15px;
    font-weight: bold;
    font-family: poppins;
}

.categories ul {
    color: #4F4F4F;
    font-family: poppins;
}

.categories p {
    text-align: left;
}

.categories {
    padding-bottom: 50px;
}

.populartag p {
    text-align: left;
}

.populartag {
    padding-bottom: 50px;
}

.buttonpopular {
    border-radius: 100px;
    background-color: #F2F2F2;
    height: 39px;
    width: 100px;
    padding: 5px 0px;
    font-size: 15px;
    margin-bottom: 10px;
    padding-right: 10px;
}
