@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('./test.css');
@import url('./footer.css');
@import url('./navigation.css');

.nav-bar {
    margin-top: 100px;
}

.nav-link {
    height: 24px;
    width: 119px;
    color: #333;
    font-family: Apercu;
    font-size: 22px;
    line-height: 24px;
    
  }

.navbar-light .navbar-nav .nav-item .nav-link.active{
    height: 24px;
    width: 119px;
    font-family: Apercu;
    font-size: 24px;
    line-height: 22px;
    color: #F7A590!important;
}

.shoping, .user, .search{
    height-margin-right: 10px;
    text-decoration: none;
    margin-right: 30px;
}

footer {
    height: 100%;
    padding: 20px;
    color: black;
    text-align: center;
    font-weight: bold;
}


.mainproduct {
    width: 100%;
    height: 100%;
    background-color: #EEEBEB;
    color: #FF957A;
    height: 500px;
    text-align: center;
    font-weight: bold;
    
}

.product {
    width: 50%;
    height: 500px;
    float: right;
}

.welcome {
  color: #FF957A;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 3.01px;
  line-height: 50px;
}

.desc {
    size: 30px;
    color: #4F4F4F;
    margin-top: 30px;
}

.judul {
    padding: 140px 0px 140px 140px;
    float: left;
    font-family: Poppins;
}

.button {
    border-radius: 173px;
    background-color: #F35923;
    height: 39px;
    width: 200px;
    padding: 5px 0px;
}

.learn_more {
    height: 28px;
    width: 144px;
    color: #FFF;
    font-family: Apercu;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
}

.medsos {
    background-color: #9BC4C8;
    height: 150px;
    width: 100%;
    padding: 50px 50px 50px 100px;
    align-items: center;
}

.twitter, .instagram, .youtube {
    display: flex; 
    align-items: center; 
    margin-right: 50px;
}

.toTwitter, .toInstagram, .toYoutube {
    color: white;
    text-decoration: none;
}

.toTwitter:hover, .toInstagram:hover, .toYoutube:hover, .learn_more:hover {
    color: gray;
}

.txtTwitter, .txtInstagram, .txtYoutube {
    margin-top: 15px;
}

.service {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.money-back, .customer-support {
    height: 30px;
    width: 279px;
    color: #000;
    font-family: Satoshi;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
}

.delivery {
    height: 30px;
    width: 279px;
    color: #000;
    font-family: Satoshi;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-top: 40px;
}

.judul-product {
    height: 300px;
    width: 100%;
    color: #F7A590;
    font-family: Poppins;
    padding-top: 100px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.51px;
    line-height: 56px;
    text-align: center;
}

.sub-judul-product {
    font-family: Satoshi;;
    color: silver;
}

.profile {
  height: 112px;
  width: 100%;
  color: #F7A590;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;  
  text-align: center;
}

.kutip {
    height: 200px;
    width: 100%;
    font-size: 100px;
}

.foto {
  height: 240px;
  width: 100%;
  color: #F7A590;
  font-family: Apercu;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.product-preview {
    margin-top: -80px;
}

.catalog {
    margin-bottom: 20px;
}

.card {
    border: none;
}
.col {
    margin: 0px 30px;
}

.product-display {
    height: 40%;
}

.detail-prodcut {
    margin: 100px 20px;
}

.nama-product {
    height: 42px;
    width: 201px;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
}

.harga {
    height: 42px;
    width: 150px;
    color: #F7A590;
    font-family: Poppins;
    font-size: 14px;
    margin-right: 20px;
    margin-top: -20px;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
    transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
    transform: translateX(0);
}

.carousel-inner .carousel-control-next .carousel-control-next-icon{
    color: purple;
}

.carousel-control-next-icon {
    margin-top: -20px;
    margin-left: 40px;
    height: 66px;
    width: 96px;
    background-size: 40%, 40%;
    background-color: #F7A590;
}

.carousel-control-prev-icon {
    margin-top: -20px;
    margin-right: 40px;
    height: 66px;
    width: 96px;
    background-size: 40%, 40%;
    background-color: #F7A590;
}

.discount {
    width: 100%;
    height: 180px;
    background-image: url('../img/discount.png');
    text-align: left;
    color:white;
    padding-top: 20px;
    padding-left: 50px;
    font-family: poppins;
    border: 2px solid white;
    border-style: double;
    border-width: 13px;
}

.btnfirst {
    text-decoration: none;
    text-align: center;
    color: #FFF;
    font-weight: 100;
    border: 3px solid white;
}

.bestseller {
    height: 850px;
    width: 100%;
}

.best {
    display: flex;
    margin-right: 10px;
    justify-content: space-around;
    padding-top: 0px;
}
.best1 {
    width: 300px;
    height: 350px;
}

.subscribe {
    width: 100%;
    height: 600px;
    background-image: url('../img/subscribe.png');
    border: 2px solid white;
    border-style: double;
    border-width: 13px;
    color: white;
    font-family: poppins;
    padding-top: 150px;
    text-align: center;
}

.bordersubscribe {
    border: solid 1px white;
}

.box {
    width: 700px;
    height: 50px;
    background-color: white;
    margin-left: 310px;
}